@use 'common' as *;
.header {
  @include transition($t);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  width: 100vw;


  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .branch {
      a {
        font-size: var(--body15-fs);
        line-height: var(--body15-lh);
        color: $gray-text-cl;
        // mix-blend-mode: difference;
        font-family: $ff-gly;
        font-weight: 400;
        mix-blend-mode: difference;
      }
      &.is-active {
        a {
          color: $black-cl;
          transition: all 0.25s $cubic;
        }
      }
    }
    .nav {
      .contact {
        font-size: var(--body15-fs);
        line-height: var(--body15-lh);
        color: $gray-text-cl;
        // mix-blend-mode: difference;
        font-family: $ff-gly;
        font-weight: 400;
        mix-blend-mode: difference;
      }
    }
  }

  @include xs {
    .profile {
      .hamburger {
        margin: 0 0 0 20px;
      }
      .language {
        display: none;
      }
    }
  }
}
