@use '../core/common' as *;

.homepage {
  background-color: #f9f4eb;
  width: 100vw;
  overflow-x: hidden;
  isolation: isolate;

  .container-fluid {
    .text {
      font-family: $ff-gly;
      font-size: var(--h1-fs);
    }
  }

  .bg-squares-canvas {
    border: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    canvas {
      width: 100% !important;
      height: 100% !important;
      display: block;
    }
  }

  .main-wrapper {
    position: relative;
    z-index: 3;

    .hero {
      width: 100vw;
      height: 100vh;
      position: relative;
      z-index: 2;

      .content {
        @include mid();
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 50;
        padding: 0 1rem;
        top: 35%;

        &__line {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 1rem;

          &.--bottom {
            max-width: 1000px;
            margin-top: 1.5rem;
          }

          h1 {
            font-family: $ff-pop-bold;
            font-size: var(--spc-fs);
            line-height: var(--spc-lh);
            font-weight: 300;
            color: $black-cl;
            text-transform: uppercase;
            text-align: center;
            white-space: nowrap;
            flex: 1;
          }

          .intro {
            max-width: 1000px;

            p {
              font-family: $ff-pop-regular;
              font-size: var(--body09-fs);
              line-height: var(--body10-lh);
              font-weight: 400;
              color: $black-cl;
              flex: 1;
              font-style: italic;
            }
          }

          .silk {
            width: 400px;
            min-width: 400px;
            height: 120px;
            border-radius: 1rem;
            overflow: hidden;
            cursor: crosshair;

            // cursor: crosshair canvas {
            //   width: 100% !important;
            //   height: 100% !important;
            //   display: block;
            // }
          }
        }
      }

      .explore {
        @include mid();
        top: initial !important;
        bottom: 3rem;
        transform: translate(-50%, 0);

        .cards {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 3.5rem;

          @media (max-width: 1800px) {
            gap: 0 2rem;
          }

          &__item {
            width: 250px;
            height: 300px;
            position: relative;

            @media (max-width: 1800px) {
              width: 150px;
              height: 200px;
            }

            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-family: $ff-pop-medium;
              font-size: var(--body09-fs);
              line-height: var(--body09-lh);
              font-weight: 500;
              color: $black-cl;
            }

            &.--1 {
              background-color: $purple-cl;
              transform: rotate(-16deg);
              // animation: emerge 1.2s ease-in-out infinite alternate;
            }

            &.--2 {
              background-color: $orange-cl;
              transform: rotate(-8deg);
              // animation: emerge 1.25s ease-in-out infinite alternate;
            }

            &.--3 {
              background-color: $yellow-cl;
              transform: rotate(0deg);
              // animation: emerge 1.3s ease-in-out infinite alternate;
            }

            &.--4 {
              background-color: $light-blue-cl;
              transform: rotate(8deg);
              // animation: emerge 1.35s ease-in-out infinite alternate;
            }

            &.--5 {
              background-color: $green-cl;
              transform: rotate(16deg);
              // animation: emerge 1.4s ease-in-out infinite alternate;
            }

            @keyframes emerge {
              0% {
                transform: translateY(-10px);
              }

              50% {
                transform: translateY(0px);
              }

              100% {
                transform: translateY(10px);
              }
            }
          }
        }

        p {
          font-family: $ff-apt-r;
          font-size: var(--body12-fs);
          line-height: var(--body12-lh);
          font-weight: 400;
          color: $white-cl;
        }
      }
    }

    .projects {
      &__list {
        height: 100vh;
        position: relative;

        &-card {
          min-width: 100vw;
          width: 100vw;
          height: 100vh;
          flex-shrink: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          position: relative;

          &:nth-of-type(2) {
            .wrap {
              background-color: $purple-cl;
            }
          }

          &:nth-of-type(3) {
            .wrap {
              background-color: $light-blue-cl;
            }
          }

          &:nth-of-type(4) {
            .wrap {
              background-color: $orange-cl;
            }
          }

          &:nth-of-type(5) {
            .wrap {
              background-color: $yellow-cl;
            }
          }

          &:nth-of-type(6) {
            .wrap {
              background-color: $green-cl;
            }
          }

          .img {
            @include mid();
            left: 35%;
            overflow: hidden;
            // width: calc(100vw - 65%);
            height: calc(100vh - 12rem);
            background-color: $white-cl;
            aspect-ratio: 3/4;
            border-radius: 1rem;

            &:hover {
              img {
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
              }
            }

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              transition: all 0.3s ease-in-out;
            }
          }

          .wrap {
            @include mid();
            left: 60%;
            width: calc(100vw - 65%);
            height: calc(100vh - 8rem);
            max-width: 700px;
            aspect-ratio: 1/1;
            padding: 3rem 3rem 1rem 3rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;

            .content {
              padding-left: 2rem;
              margin-top: 0.5rem;
            }

            .number {
              font-size: 4rem;
              line-height: 5rem;
              font-weight: 300;
              color: $black-cl;
              font-family: $ff-gly;
            }

            .sub-title {
              font-size: var(--body15-fs);
              line-height: var(--body15-lh);
              font-weight: 400;
              color: $black-cl;
              font-family: $ff-gly;
            }

            .title {
              font-size: var(--h2-fs);
              line-height: var(--h2-lh);
              font-weight: 700;
              color: $black-cl;
              font-family: $ff-gly;
              margin: 0.5rem 0 2rem 0;
              text-transform: uppercase;
              letter-spacing: 1.2;
            }

            .desc {
              max-width: 1000px;
              font-size: var(--body10-fs);
              line-height: var(--body12-lh);
              font-weight: 400;
              color: $black-cl;
              font-family: $ff-pop-regular;
            }

            .view {
              margin-top: 2rem;
            }
          }

          .galleries {
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 0.5rem;
            grid-template-rows: 20px;

            &__item {
              border: 1px dashed $black-cl;
            }
          }
        }
      }

      &__track {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        padding-left: 2rem;
        will-change: transform;
        width: max-content;

        .line {
          width: 100%;
          @include mid();
          padding: 0 50vw;

          &__wrap {
            position: relative;

            svg {
              width: 100%;
              @include mid();
              z-index: 2;

              &:nth-of-type(5) {
                z-index: 1;
              }
            }

            .line__path {
              width: 100%;
            }
          }
        }
      }
    }

    .services {
      width: 100%;
      height: 100vh;
      white-space: nowrap;
      padding: 1rem 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      gap: 2rem 0;

      &__content {
        &-title {
          text-align: center;
          font-family: $ff-gly;
          font-size: var(--h1-fs);
          line-height: var(--h1-lh);
          font-weight: 600;
          color: $black-cl;
          margin-bottom: 3rem;
        }
      }

      .track {
        --speed: 20s;
        white-space: nowrap;
        box-sizing: border-box;
      }

      .marquee__list {
        display: flex;
        align-items: center;
        gap: 0 3rem;
        animation-play-state: paused;
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
        font-weight: 400;
        color: $black-cl;

        font-family: $ff-gly;
        animation: all 0.3s;
        position: relative;

        &.previous {
          --speed: 40s;
          animation: scrollPrevious var(--speed) linear infinite;
        }

        &.next {
          --speed: 50s;
          animation: scrollNext var(--speed) linear infinite;
        }

        &-item {
          display: inline-block;
          white-space: nowrap;
          will-change: transform;

          // animation: marquee 10s linear infinite;
          p {
            padding: 0.25rem 1rem;
            font-size: var(--big-fs);
            line-height: var(--big-lh);
            font-weight: 700;
            color: $black-cl;
            font-family: $ff-pop-bold;
            text-transform: uppercase;
            user-select: none;
            // @include text-linear($purple-cl, $orange-cl, $yellow-cl, $light-blue-cl, $green-cl);
          }
        }
      }

      @keyframes scrollPrevious {
        to {
          transform: translateX(-45%);
        }
      }

      @keyframes scrollNext {
        to {
          transform: translateX(45%);
        }
      }
    }

    .skills {
      width: 100%;
      height: 80vh;

      &__content {
        &-title {
          text-align: center;
          font-family: $ff-gly;
          font-size: var(--h1-fs);
          line-height: var(--h1-lh);
          font-weight: 600;
          color: $black-cl;
          margin-bottom: 3rem;
        }
      }

      .cards {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 0 3.5rem;

        @media (max-width: 1800px) {
          gap: 0 2rem;
        }

        &__item {
          width: 300px;
          height: 350px;
          position: relative;
          text-align: center;

          @media (max-width: 1800px) {
            width: 250px;
            height: 300px;
          }

          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-family: $ff-pop-medium;
            font-size: var(--body12-fs);
            line-height: var(--body12-lh);
            font-weight: 500;
            color: $black-cl;
          }

          &.--1 {
            background-color: $purple-cl;
            transform: rotate(16deg);
            // animation: emerge 1.2s ease-in-out infinite alternate;
          }

          &.--2 {
            background-color: $orange-cl;
            transform: rotate(8deg);
            // animation: emerge 1.25s ease-in-out infinite alternate;
          }

          &.--3 {
            background-color: $yellow-cl;
            transform: rotate(0deg);
            // animation: emerge 1.3s ease-in-out infinite alternate;
          }

          &.--4 {
            background-color: $light-blue-cl;
            transform: rotate(-8deg);
            // animation: emerge 1.35s ease-in-out infinite alternate;
          }

          &.--5 {
            background-color: $green-cl;
            transform: rotate(-16deg);
            // animation: emerge 1.4s ease-in-out infinite alternate;
          }

          @keyframes emerge {
            0% {
              transform: translateY(-10px);
            }

            50% {
              transform: translateY(0px);
            }

            100% {
              transform: translateY(10px);
            }
          }
        }
      }
    }

    .stories {
      width: 100%;
      padding-bottom: 10rem;

      &__content {
        &-title {
          text-align: center;
          font-family: $ff-gly;
          font-size: var(--h1-fs);
          line-height: var(--h1-lh);
          font-weight: 600;
          color: $black-cl;
          margin-bottom: 4rem;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;

        &-item {
          width: 50%;
          aspect-ratio: 3/4;
          position: relative;
          height: 80%;

          &:nth-child(even) {
            margin-left: auto;

            .content {
              right: calc(50% - 200px);
            }
          }

          &:nth-child(odd) {
            margin-right: auto;

            .content {
              left: 100%;
            }
          }

          .bg {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: $white-cl;

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color: #000000, $alpha: 0.3);
            }

            img {
              width: 100%;
              height: 120%;
              margin-top: -10%;
              object-fit: cover;
              aspect-ratio: 3/4;
              will-change: transform;
            }
          }

          .content {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;

            .label {
              font-family: $ff-pop-bold;
              font-size: var(--h3-fs);
              line-height: var(--h3-lh);
              font-weight: 500;
              color: $black-cl;
              mix-blend-mode: difference;
              margin-bottom: 1rem;
            }

            .desc {
              font-family: $ff-pop-regular;
              font-size: var(--body12-fs);
              line-height: var(--body12-lh);
              font-weight: 400;
              color: $black-cl;
              mix-blend-mode: difference;
              min-width: 400px;
            }
          }
        }
      }
    }
  }

  @include lg {
    .main-wrapper {
      .projects {
        &__list {
          &-card {
            .wrap {
              padding: 1.5rem 1.5rem 1rem 1.5rem;
              width: calc(100vw - 40%);

              .number {
                font-size: 5rem;
                line-height: 6rem;
              }

              .content {
                margin: 0.5rem;
                padding-left: 5rem;

                .sub-title {
                }

                .title {
                  font-size: 3rem;
                  line-height: 4rem;
                  margin: 0.5rem 0 1.25rem 0;
                }

                .desc {
                  font-size: 1rem;
                  line-height: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  @include sm {
    .main-wrapper {
      .hero {
        .content {
          &__line {
            flex-direction: column;

            .silk {
              width: 300px;
              height: 100px;
            }
          }
        }
      }
    }
  }

  @include xs {
    .main-wrapper {
      .hero {
        .content {
          gap: 0.75rem;
          min-width: 85%;
          top: 43%;
          gap: 0;

          &__line {
            flex-direction: column;
            gap: 0.75rem;
            text-align: center;

            &.--bottom {
              max-width: calc(100% - 2rem);
            }

            h1 {
              white-space: wrap;
            }

            &.middle {
              flex-direction: column-reverse;
            }

            .silk {
              width: calc(100% - 1rem);
              height: 100px;
              min-width: calc(100% - 1rem);
            }
          }
        }

        .explore {
          bottom: 1rem;

          .cards {
            gap: 0 0.5rem;

            &__item {
              width: 80px;
              height: 130px;

              p {
                font-size: var(--body08-fs);
                line-height: var(--body08-lh);
              }
            }
          }
        }
      }

      .projects {
        &__list {
          &-card {
            .img {
              display: none;
            }

            .wrap {
              width: calc(100% - 2rem);
              height: calc(100vh - 6rem);
              @include mid();
              padding: 1rem;
              top: 52%;

              .number {
                font-size: 2.5rem;
                line-height: 3rem;
              }

              .content {
                padding-left: 1rem;

                .title {
                  font-size: 2.5rem;
                  line-height: 3rem;
                }

                .view {
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }

      .services {
        height: 80vh;
        gap: 0;

        &__content {
          &-title {
            margin-bottom: 2rem;
          }
        }

        .marquee__list {
          gap: 0 0.25rem;
        }
      }

      .stories {
        &__list {
          &-item {
            width: 100%;
            height: 100%;

            .bg {
              &::after {
                background: rgba($color: #000000, $alpha: 0.7);
              }
            }

            .content {
              left: 50% !important;
              right: initial !important;

              .label {
                color: $white-cl;
              }

              .desc {
                min-width: 300px;
                color: $white-cl;
              }
            }
          }
        }
      }

      .skills {
        gap: 0;
        height: 1500px;

        .cards {
          &__item {
            width: 200px;
            min-width: 200px;
            height: 250px;
          }
        }
      }

      .stories {
        &__list {
          &-item {
            width: 100%;

            .content {
              left: 50%;
              right: initial !important;
            }
          }
        }
      }
    }
  }
}
