@use '../core/common' as *;

.homepage {
  background-color: $black-cl;
  width: 100vw;
  overflow-x: hidden;
  isolation: isolate;

  .container-fluid {
    .text {
      font-family: $ff-gly;
      font-size: var(--h1-fs);
    }
  }

  .bg-squares-canvas {
    border: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    canvas {
      width: 100% !important;
      height: 100% !important;
      display: block;
    }
  }

  .main-wrapper {
    position: relative;
    z-index: 2;

    .hero {
      width: 100vw;
      height: 100vh;
      position: relative;
      z-index: 2;

      .content {
        @include mid();
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        z-index: 50;
        padding: 0 1rem;

        &-line {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;

          h1,
          span {
            font-family: $ff-gly;
            font-size: var(--spc-fs);
            line-height: var(--spc-lh);
            font-weight: 400;
            color: $white-cl;
            // text-transform: uppercase;
            white-space: nowrap;
          }

          .intro {
            font-family: $ff-gly;
            font-size: var(--body09-fs);
            line-height: var(--body09-lh);
            font-weight: 400;
            color: $white-cl;
          }

          .silk {
            width: 500px;
            height: 120px;

            canvas {
              width: 100% !important;
              height: 100% !important;
              display: block;
            }
          }
        }
      }

      .explore {
        @include mid();
        top: initial !important;
        bottom: 1rem;

        p {
          font-family: $ff-apt-r;
          font-size: var(--body12-fs);
          line-height: var(--body12-lh);
          font-weight: 400;
          color: $white-cl;
        }
      }
    }

    .projects {
      &__list {
        height: 100vh;
        overflow: hidden;
        position: relative;

        &-card {
          min-width: 100vw;
          width: 100vw;
          height: 100vh;
          flex-shrink: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          position: relative;

          &:nth-child(odd) {
            .wrap {
              background-color: $yellow-light-cl;
            }
          }

          &:nth-child(even) {
            .wrap {
              background-color: $white-cl;
            }
          }

          .bg {
            overflow: hidden;
            width: 100vw;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .wrap {
            @include mid();
            width: calc(100vw - 60%);
            height: calc(100vh - 6rem);
            padding: 3rem 3rem 1rem 3rem;
            border-radius: 2rem;
            display: flex;
            flex-direction: column;

            .content {
              padding-left: 2rem;
              margin-top: 2rem;
            }

            .number {
              font-size: 6rem;
              line-height: 7rem;
              font-weight: 300;
              color: $black-cl;
              font-family: $ff-gly;
            }

            .sub-title {
              font-size: var(--body15-fs);
              line-height: var(--body15-lh);
              font-weight: 400;
              color: $black-cl;
              font-family: $ff-gly;
            }

            .title {
              font-size: var(--h2-fs);
              line-height: var(--h2-lh);
              font-weight: 700;
              color: $black-cl;
              font-family: $ff-gly;
              margin: 0.5rem 0 2rem 0;
              text-transform: uppercase;
              letter-spacing: 1.2;
            }

            .desc {
              max-width: 1000px;
              font-size: var(--body10-fs);
              line-height: var(--body12-lh);
              font-weight: 400;
              color: $black-cl;
              font-family: $ff-apt-r;
            }

            .view {
              margin-top: 2rem;
            }
          }

          .galleries {
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 0.5rem;
            grid-template-rows: 20px;

            &__item {
              border: 1px dashed $black-cl;
            }
          }
        }
      }

      &__track {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        padding-left: 2rem;
        will-change: transform;
        width: max-content;
      }
    }

    .skills {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      white-space: nowrap;
      padding: 1rem 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem 0;

      .track {
        --speed: 20s;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
      }

      .marquee__list {
        display: flex;
        align-items: center;
        gap: 0 3rem;
        animation-play-state: paused;
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
        font-weight: 400;
        color: $white-cl;
        font-family: $ff-gly;
        animation: all .3s;

        &.previous {
          --speed: 40s;
          animation: scrollPrevious var(--speed) linear infinite;
        }

        &.next {
          --speed: 50s;
          animation: scrollNext var(--speed) linear infinite;
        }

        &:hover {
          animation-play-state: paused;
        }

        &-item {
          display: inline-block;
          white-space: nowrap;
          will-change: transform;

          // animation: marquee 10s linear infinite;
          p {
            font-size: var(--h1-fs);
            line-height: var(--h1-lh);
            font-weight: 400;
            color: $white-cl;
            font-family: $ff-gly;
          }
        }
      }

      @keyframes scrollPrevious {
        to {
          transform: translateX(-45%);
        }
      }

      @keyframes scrollNext {
        to {
          transform: translateX(45%);
        }
      }
    }
  }

  @include lg {
    .main-wrapper {
      .projects {
        &__list {
          &-card {
            .wrap {
              padding: 1.5rem 1.5rem 1rem 1.5rem;

              .number {
                font-size: 5rem;
                line-height: 6rem;
              }

              .content {
                margin: 0.5rem;
                padding-left: 5rem;

                .sub-title {}

                .title {
                  font-size: 3rem;
                  line-height: 4rem;
                  margin: 0.5rem 0 1.25rem 0;
                }

                .desc {
                  font-size: 1rem;
                  line-height: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  @include sm {
    .main-wrapper {
      .hero {
        .content {
          &-line {
            flex-direction: column;

            .silk {
              width: 300px;
              height: 100px;
            }
          }
        }
      }
    }
  }

  @include xs {
    .main-wrapper {
      .hero {
        .content {
          gap: 0.75rem;
          min-width: 85%;

          &-line {
            flex-direction: column;
            gap: 0.75rem;

            &.middle {
              flex-direction: column-reverse;
            }

            .silk {
              width: 300px;
              height: 100px;
            }
          }
        }

        .explore {
          bottom: 1rem;

          p {
            white-space: nowrap;
            font-size: var(--body09-fs);
            line-height: var(--body09-lh);
          }
        }
      }

      .projects {
        &__list {
          &-card {
            .wrap {
              width: calc(100% - 2rem);
              height: calc(100vh - 6rem);
              @include mid();

              .number {
                font-size: 2.5rem;
                line-height: 3rem;
              }

              .content {
                padding-left: 1rem;


                .title {
                  font-size: 2.5rem;
                  line-height: 3rem;
                }
              }


            }
          }
        }
      }

      .skills {
        height: 60vh;
        gap: 0;

        .track {

          .marquee__list {
            &-item {
              p {
                font-size: var(--h3-fs);
                line-height: var(--h3-lh);
              }
            }
          }
        }
      }
    }
  }
}